/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

*.ninja
*.ninja_deps
*.ninja_log
*.sln
*.vcxproj*
*.obj
*.pdb
*.idb

*.dSYM/
*.app/

*.exe
*.dll
*.lib
*.manifest
*.pdb

_fetchContent/
_external/
wxWidgets/

*.log
*.swp
*.DS_Store
